n8n-workflow-app-to-sheet.json
{
  "name": "JL Closets — App → copy testing (por columna)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "jl-sync",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "77c8a38d-b482-469e-963e-bc8efa5e6679",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-720, 400],
      "webhookId": "77c8a38d-b482-469e-963e-bc8efa5e6679"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": true, "typeValidation": "strict", "version": 2 },
                "conditions": [ { "leftValue": "={{ $json.body.eventType }}", "rightValue": "ENGINEER_ASSIGNED", "operator": { "type": "string", "operation": "equals" } } ],
                "combinator": "and"
              },
              "renameOutput": true, "outputKey": "ENGINEER_ASSIGNED"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "typeValidation": "strict", "version": 2 },
                "conditions": [ { "leftValue": "={{ $json.body.eventType }}", "rightValue": "STAGE_UPDATE", "operator": { "type": "string", "operation": "equals" } } ],
                "combinator": "and"
              },
              "renameOutput": true, "outputKey": "STAGE_UPDATE"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "typeValidation": "strict", "version": 2 },
                "conditions": [ { "leftValue": "={{ $json.body.eventType }}", "rightValue": "ON_HOLD", "operator": { "type": "string", "operation": "equals" } } ],
                "combinator": "and"
              },
              "renameOutput": true, "outputKey": "ON_HOLD"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "typeValidation": "strict", "version": 2 },
                "conditions": [
                  { "leftValue": "={{ $json.body.eventType }}", "rightValue": "NOTE_ADDED", "operator": { "type": "string", "operation": "equals" } },
                  { "leftValue": "={{ $json.body.noteType }}", "rightValue": "obs", "operator": { "type": "string", "operation": "equals" } }
                ],
                "combinator": "and"
              },
              "renameOutput": true, "outputKey": "NOTE_OBS"
            }
          ]
        },
        "options": { "fallbackOutput": "extra" }
      },
      "id": "cb80d293-1d06-464d-8931-825254d79391",
      "name": "Switch by eventType",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [-480, 400]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": true, "typeValidation": "strict", "version": 2 },
                "conditions": [ { "leftValue": "={{ $json.body.startDate }}", "rightValue": "", "operator": { "type": "string", "operation": "notEmpty", "singleValue": true } } ],
                "combinator": "and"
              },
              "renameOutput": true, "outputKey": "startDate"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "typeValidation": "strict", "version": 2 },
                "conditions": [ { "leftValue": "={{ $json.body.checkDate1 }}", "rightValue": "", "operator": { "type": "string", "operation": "notEmpty", "singleValue": true } } ],
                "combinator": "and"
              },
              "renameOutput": true, "outputKey": "checkDate1"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "typeValidation": "strict", "version": 2 },
                "conditions": [ { "leftValue": "={{ $json.body.checkDate2 }}", "rightValue": "", "operator": { "type": "string", "operation": "notEmpty", "singleValue": true } } ],
                "combinator": "and"
              },
              "renameOutput": true, "outputKey": "checkDate2"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "typeValidation": "strict", "version": 2 },
                "conditions": [ { "leftValue": "={{ $json.body.completionDate }}", "rightValue": "", "operator": { "type": "string", "operation": "notEmpty", "singleValue": true } } ],
                "combinator": "and"
              },
              "renameOutput": true, "outputKey": "completionDate"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "typeValidation": "strict", "version": 2 },
                "conditions": [ { "leftValue": "={{ $json.body.sheetStatus }}", "rightValue": "", "operator": { "type": "string", "operation": "notEmpty", "singleValue": true } } ],
                "combinator": "and"
              },
              "renameOutput": true, "outputKey": "status"
            }
          ]
        },
        "options": { "fallbackOutput": "none" }
      },
      "id": "45ff02dd-7bd9-4015-b912-b5d8b45e786a",
      "name": "Switch stage field",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [-240, 300]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": { "__rl": true, "value": "1rzZn9J2p6Plz7Xxy9-JwgdijFkqGg7WC2rFpNnxUreY", "mode": "list", "cachedResultName": "APP JL Project Status for app" },
        "sheetName": { "__rl": true, "value": "copy testing", "mode": "list", "cachedResultName": "copy testing" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": { "SO#": "={{ $json.body.so }}", "ENG": "={{ $json.body.engineer || '' }}" },
          "matchingColumns": ["SO#"],
          "schema": [
            { "id": "SO#", "type": "string", "display": true, "required": false, "displayName": "SO#", "defaultMatch": true, "canBeUsedToMatch": true },
            { "id": "ENG", "type": "string", "display": true, "required": false, "displayName": "ENG", "defaultMatch": false, "canBeUsedToMatch": true }
          ],
          "attemptToConvertTypes": false, "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "c100fb8e-238d-4e06-8c55-9f29d211f155",
      "name": "Set ENG",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [0, 60]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": { "__rl": true, "value": "1rzZn9J2p6Plz7Xxy9-JwgdijFkqGg7WC2rFpNnxUreY", "mode": "list", "cachedResultName": "APP JL Project Status for app" },
        "sheetName": { "__rl": true, "value": "copy testing", "mode": "list", "cachedResultName": "copy testing" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": { "SO#": "={{ $json.body.so }}", "START DATE": "={{ $json.body.startDate }}" },
          "matchingColumns": ["SO#"],
          "schema": [
            { "id": "SO#", "type": "string", "display": true, "required": false, "displayName": "SO#", "defaultMatch": true, "canBeUsedToMatch": true },
            { "id": "START DATE", "type": "string", "display": true, "required": false, "displayName": "START DATE", "defaultMatch": false, "canBeUsedToMatch": true }
          ],
          "attemptToConvertTypes": false, "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "11127c1e-0d67-46d4-8c2f-f18ecdad37ba",
      "name": "Set START DATE",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [0, 200]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": { "__rl": true, "value": "1rzZn9J2p6Plz7Xxy9-JwgdijFkqGg7WC2rFpNnxUreY", "mode": "list", "cachedResultName": "APP JL Project Status for app" },
        "sheetName": { "__rl": true, "value": "copy testing", "mode": "list", "cachedResultName": "copy testing" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": { "SO#": "={{ $json.body.so }}", "Check Date 1": "={{ $json.body.checkDate1 }}" },
          "matchingColumns": ["SO#"],
          "schema": [
            { "id": "SO#", "type": "string", "display": true, "required": false, "displayName": "SO#", "defaultMatch": true, "canBeUsedToMatch": true },
            { "id": "Check Date 1", "type": "string", "display": true, "required": false, "displayName": "Check Date 1", "defaultMatch": false, "canBeUsedToMatch": true }
          ],
          "attemptToConvertTypes": false, "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "0ee9ad19-5574-4f19-9adc-6884a835c75b",
      "name": "Set Check 1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [0, 340]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": { "__rl": true, "value": "1rzZn9J2p6Plz7Xxy9-JwgdijFkqGg7WC2rFpNnxUreY", "mode": "list", "cachedResultName": "APP JL Project Status for app" },
        "sheetName": { "__rl": true, "value": "copy testing", "mode": "list", "cachedResultName": "copy testing" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": { "SO#": "={{ $json.body.so }}", "Check Date 2": "={{ $json.body.checkDate2 }}" },
          "matchingColumns": ["SO#"],
          "schema": [
            { "id": "SO#", "type": "string", "display": true, "required": false, "displayName": "SO#", "defaultMatch": true, "canBeUsedToMatch": true },
            { "id": "Check Date 2", "type": "string", "display": true, "required": false, "displayName": "Check Date 2", "defaultMatch": false, "canBeUsedToMatch": true }
          ],
          "attemptToConvertTypes": false, "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "87b712b7-5d95-4ca7-bceb-67cd354262d1",
      "name": "Set Check 2",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [0, 480]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": { "__rl": true, "value": "1rzZn9J2p6Plz7Xxy9-JwgdijFkqGg7WC2rFpNnxUreY", "mode": "list", "cachedResultName": "APP JL Project Status for app" },
        "sheetName": { "__rl": true, "value": "copy testing", "mode": "list", "cachedResultName": "copy testing" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": { "SO#": "={{ $json.body.so }}", "COMPLETION DATE": "={{ $json.body.completionDate }}" },
          "matchingColumns": ["SO#"],
          "schema": [
            { "id": "SO#", "type": "string", "display": true, "required": false, "displayName": "SO#", "defaultMatch": true, "canBeUsedToMatch": true },
            { "id": "COMPLETION DATE", "type": "string", "display": true, "required": false, "displayName": "COMPLETION DATE", "defaultMatch": false, "canBeUsedToMatch": true }
          ],
          "attemptToConvertTypes": false, "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "61879256-5468-461f-86d1-5872787fa634",
      "name": "Set COMPLETION",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [0, 620]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": { "__rl": true, "value": "1rzZn9J2p6Plz7Xxy9-JwgdijFkqGg7WC2rFpNnxUreY", "mode": "list", "cachedResultName": "APP JL Project Status for app" },
        "sheetName": { "__rl": true, "value": "copy testing", "mode": "list", "cachedResultName": "copy testing" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": { "SO#": "={{ $json.body.so }}", "STATUS": "={{ $json.body.sheetStatus }}" },
          "matchingColumns": ["SO#"],
          "schema": [
            { "id": "SO#", "type": "string", "display": true, "required": false, "displayName": "SO#", "defaultMatch": true, "canBeUsedToMatch": true },
            { "id": "STATUS", "type": "string", "display": true, "required": false, "displayName": "STATUS", "defaultMatch": false, "canBeUsedToMatch": true }
          ],
          "attemptToConvertTypes": false, "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "37a2c26d-bf89-49c5-97e5-f55e3bb5d82b",
      "name": "Set STATUS (stage)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [0, 760]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": { "__rl": true, "value": "1rzZn9J2p6Plz7Xxy9-JwgdijFkqGg7WC2rFpNnxUreY", "mode": "list", "cachedResultName": "APP JL Project Status for app" },
        "sheetName": { "__rl": true, "value": "copy testing", "mode": "list", "cachedResultName": "copy testing" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": { "SO#": "={{ $json.body.so }}", "STATUS": "={{ $json.body.sheetStatus || '' }}" },
          "matchingColumns": ["SO#"],
          "schema": [
            { "id": "SO#", "type": "string", "display": true, "required": false, "displayName": "SO#", "defaultMatch": true, "canBeUsedToMatch": true },
            { "id": "STATUS", "type": "string", "display": true, "required": false, "displayName": "STATUS", "defaultMatch": false, "canBeUsedToMatch": true }
          ],
          "attemptToConvertTypes": false, "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "db9178d9-6752-4be9-805a-50a261b2e141",
      "name": "Set STATUS (ON_HOLD)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [-240, 760]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": { "__rl": true, "value": "1rzZn9J2p6Plz7Xxy9-JwgdijFkqGg7WC2rFpNnxUreY", "mode": "list", "cachedResultName": "APP JL Project Status for app" },
        "sheetName": { "__rl": true, "value": "copy testing", "mode": "list", "cachedResultName": "copy testing" },
        "filtersUI": { "values": [ { "lookupColumn": "SO#", "lookupValue": "={{ $json.body.so }}" } ] },
        "options": {}
      },
      "id": "e3ac600e-d8ce-43ba-be3a-52156d7350c9",
      "name": "Get row for OBS",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [-240, 940]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": { "__rl": true, "value": "1rzZn9J2p6Plz7Xxy9-JwgdijFkqGg7WC2rFpNnxUreY", "mode": "list", "cachedResultName": "APP JL Project Status for app" },
        "sheetName": { "__rl": true, "value": "copy testing", "mode": "list", "cachedResultName": "copy testing" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "SO#": "={{ $('Webhook').item.json.body.so }}",
            "OBS / ACCESSORIES / NOTES": "={{ ($json['OBS / ACCESSORIES / NOTES'] ? $json['OBS / ACCESSORIES / NOTES'] + ' - ' : '') + $('Webhook').item.json.body.noteText }}"
          },
          "matchingColumns": ["SO#"],
          "schema": [
            { "id": "SO#", "type": "string", "display": true, "required": false, "displayName": "SO#", "defaultMatch": true, "canBeUsedToMatch": true },
            { "id": "OBS / ACCESSORIES / NOTES", "type": "string", "display": true, "required": false, "displayName": "OBS / ACCESSORIES / NOTES", "defaultMatch": false, "canBeUsedToMatch": true }
          ],
          "attemptToConvertTypes": false, "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "29b9377d-8d65-4b83-9fb6-26ef686587f1",
      "name": "Append OBS note",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [0, 940]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"ok\": true, \"eventType\": $('Webhook').item.json.body.eventType, \"so\": $('Webhook').item.json.body.so } }}",
        "options": {}
      },
      "id": "db7d3ac9-40e6-4f1b-b297-22a0903dc5cb",
      "name": "Respond 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [320, 400]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Switch by eventType", "type": "main", "index": 0 }]]
    },
    "Switch by eventType": {
      "main": [
        [{ "node": "Set ENG", "type": "main", "index": 0 }],
        [{ "node": "Switch stage field", "type": "main", "index": 0 }],
        [{ "node": "Set STATUS (ON_HOLD)", "type": "main", "index": 0 }],
        [{ "node": "Get row for OBS", "type": "main", "index": 0 }],
        [{ "node": "Respond 200", "type": "main", "index": 0 }]
      ]
    },
    "Switch stage field": {
      "main": [
        [{ "node": "Set START DATE", "type": "main", "index": 0 }],
        [{ "node": "Set Check 1", "type": "main", "index": 0 }],
        [{ "node": "Set Check 2", "type": "main", "index": 0 }],
        [{ "node": "Set COMPLETION", "type": "main", "index": 0 }],
        [{ "node": "Set STATUS (stage)", "type": "main", "index": 0 }]
      ]
    },
    "Set ENG": { "main": [[{ "node": "Respond 200", "type": "main", "index": 0 }]] },
    "Set START DATE": { "main": [[{ "node": "Respond 200", "type": "main", "index": 0 }]] },
    "Set Check 1": { "main": [[{ "node": "Respond 200", "type": "main", "index": 0 }]] },
    "Set Check 2": { "main": [[{ "node": "Respond 200", "type": "main", "index": 0 }]] },
    "Set COMPLETION": { "main": [[{ "node": "Respond 200", "type": "main", "index": 0 }]] },
    "Set STATUS (stage)": { "main": [[{ "node": "Respond 200", "type": "main", "index": 0 }]] },
    "Set STATUS (ON_HOLD)": { "main": [[{ "node": "Respond 200", "type": "main", "index": 0 }]] },
    "Get row for OBS": { "main": [[{ "node": "Append OBS note", "type": "main", "index": 0 }]] },
    "Append OBS note": { "main": [[{ "node": "Respond 200", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "pinData": {}
}
